{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To Ghana Agri Market</p>
            </div>
        </div>
    </header>

<div class="container px-4 px-lg-5 my-5">
<div class="row">
<center>
	<div class="col-10">
		<br/><br/>

<p align="justify">

GHANA AGRI MARKET (GHAM) is one of the innovative e-commerce site developed and managed by Fintech Ghana Ltd. The easily accessible page creates lots of opportunities for farmers, SME’s, agri-businesses, NGO’s, Government agencies, traders and other related parties to trade their agricultural products, equipment and machineries on a secured environment, where transactions are carefully monitored to protect the interest of all parties.
<p>
With our vast range of products categories, clients and prospective clients can have access to most agricultural products locally and products yet to be imported to the country.


GHAM is an interactive agri-business e-commerce site designed to break regional barriers and also help bring suppliers and buyers to one common platform to easily market their products.
</p> 
<br/><br/>
Contact:
Ghana Agri Market
Fintech Ghana Limited
GW-0007-6619, Naa Dedefio Ave.
Amasaman, Greater Accra-Ghana.
<br/><br/>
info@agrimarketgh.com           www.agrimarketgh.com
info@fintechgh.com

<br/><br/>
Tel: 026 180 0434
      :024 123 8309
WhatsApp: 233 26 180 0434
Facebook: @fintechgh
Twitter: fintechgh
LinkedIn: fintechgh
tempus.

</p>
<br/><br/>

</div>
</center>
</div>
</div>


{% endblock %}